*{
    padding: 10px;
    margin: 0px;
}
nav > a{
    font-size: larger;
    justify-content: space-between;
    padding-right: 10px;
    font-size: 20px;
    font-weight:bolder;
    padding-left: 50px;
    color: white;
    text-decoration: none;
}
nav{
    border: 2px solid;
    border-radius: 15px;
    background-color: green;
    padding-right: 10px;
    text-align: center; 
  
}
.container1{
    text-align: right;
    padding: 20px; 
    height: 60%;
    margin: none;
}
nav img{
    border-radius: 50%;
    height: 20%;
    display: flex;
    padding: 0.5%;
}
