*{
    margin: 0px;
    font-family: century Gothic;
}
body{
    background-color: white;
}
.nav{
    height: 50px;
    width: 100%;
    background-color: #FD4600;
    display: grid;
    grid-template-columns: 50% 50%;
}
.right{
    width: 100%;
    padding-top:10px ;
text-align:right ;
height: 100%;
display: flext;



}
.logo{
    width: 100%;
text-align:left ;
height: 100%;
padding: 5px;
display: flex;


}
.logo p{
margin-top: 10px;
margin-left: 10px;
color: white;
font-weight: 800;


}
.logo_{
    height:40px;
    width: 40px;
    border-radius: 100px;
    background-color: white;
 
}
.middle_section{
    background-image: url('../images/bike.jpg');
    height:250px;
    padding-left: 100px;
    background-size: cover;
    background-position:10% 80%;
    padding-top:30px ;
    background-repeat: no-repeat;
    text-align: left;
    justify-content: center;
    color: white;
}
.f_text{
   
   
   margin-top: 15px;
    color: white;
    font-weight: 100;
   
}
.f_text> span{
    color: #FD4600;
}
.button{
    padding: 7px;
    border-radius: 7px;
    background-color: #11e4c1;
    border: 1px solid #11e4c1;
    color: #ffffff;
    margin-top: 10px;
    height: 40px;
    text-decoration: none !important;


}
.lower_section{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}
.lower_section2 > h4{
 font-weight: 100 !important;
 color: #11e4c1;
 margin-top: 30px;
  
}
.input{
    height: 40px;
    border: 1px solid #FD4600;
    /* border: none; */
    margin: 15px;
    padding: 7px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input2{
    height: 40px;
    border: 1px solid #FD4600;
    /* border: none; */
    width: 100%;
    margin: 5px;
    padding: 7px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.lower_section2{
    width: 300px;
    display: block !important;
    padding: 15px;
    border-radius: 15px;
    margin: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.reg_f{
    display: block !important;
    padding: 15px;
    width: 50%;
    border-radius: 15px;
    margin: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.registration{
    display: grid;
    grid-template-columns: 50% 50%;

}
.icon_section{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form_section >h4{
    font-weight: 100;
    color: #11e4c1;
}
.form_section{
    margin-top: 70px;
    padding:15px;

    grid-gap: 5px;
}
.icon_section{
    height: 100%;
    border-right: #615f5e solid 2px;
    margin-top: 70px;
}
.icon_section img> h4{


    color: #11e4c1 !important;
}
.icon_section img{
    margin-top: 50px;
    height: 200px;
}
.orange_text{
    color: #11e4c1;
    font-weight: 100;
}
.links{
    padding: 7px;
    margin: 13px;
    margin-top: 20px;
    background-color: white;
    border-radius: 7px;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}
.links_white{
    padding: 7px;
    margin: 13px;
    margin-top: 20px;
    background-color:#11e4c1;
    border-radius: 7px;
    text-decoration: none;

    font-size: 10px;
    color: #ffffff;
}
.hide{
    height: 0;
    width: 0;
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .okay{
      height: 20px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }