
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.nav{
    height: 50px;
    width: 100%;
    background-color: #FD4600;
    display: grid;
    grid-template-columns: 50% 50%;
}


.second{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding-top: 30px;
}



.bodaa{
    border-right: 2px grey solid;
    width: 650px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}


.text{
    font-size: 70px;
    padding-left: 110px;
    color: #FD4600;
    margin: 10px;
    padding-bottom: 0px;
    line-height: 0px;
}

.text2{
    font-size: 30px;
    padding-left: 110px;
    align-content: center;
    /* padding-left: 180px; */
    color: #FD4600;
    margin: 50px;
    padding-bottom: 0px;
    line-height: 0px;
}

.btn{
    padding-left: 200px;
    padding-top: 5px;
    /* margin: 5px; */
}
.side_images{
    height: 320px;
    justify-content: center;
    padding-left: 100px;

}
.btn button{
    /* padding-top: 20px; */
    background-color: #FD4600;
    border-radius: 10px;
    line-height: 0px;
    border: none;
    width: 150px;
    height: 40px;
   
}

.car{
    width: 100%;
    /* padding-left */
}


.right{
width: 100%;
padding-top:10px ;
text-align:right ;
height: 100%;
display: flext;



}
.logo{
    width: 100%;
text-align:left ;
height: 100%;
padding: 5px;
display: flex;


}
.logo p{
margin-top: 10px;
margin-left: 10px;
color: white;
font-weight: 800;


}
.logo_{
    height:40px;
    width: 40px;
    border-radius: 100px;
    background-color: white;
 
}


.links{
    padding: 7px;
    margin: 13px;
    margin-top: 20px;
    background-color: white;
    border-radius: 7px;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}


.links_white{
    padding: 7px;
    margin: 13px;
    margin-top: 20px;
    background-color:#11e4c1;
    border-radius: 7px;
    text-decoration: none;

    font-size: 10px;
    color: #ffffff;
}

.side2{
    /* width: 100%; */
    height: 350px;
    justify-content: center;
    padding-left: 150px;
}
.third{
    /* width: 100%; */
    align-items: center;
    padding: 60px;
}


.table{
width: 100%;
overflow: hidden;
text-align: center;
display: table;
box-shadow:  0 0 20px rgba(rgb(201, 108, 108), rgb(70, 83, 70), blue, alpha);
padding: 0 0 8em 0;
border: none;
border-collapse: collapse;
/* padding-left: 100px; */
height: 60px;
/* border: 1px solid black; */
}
 /* .table th .table td{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding: 15px; */
 /* } */
 
 .table th, td{
     /* background-color: #FD4600; */
     padding: 10px;
 }

/* tr :nth-child(odd){
    background-color: #bd8f80;
 }

tr :nth-child(even){
    background-color: #f3a084;
 } */


.third h3{
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: sans-serif;
}


.table th{
    height: 10px;
    color: #FD4600;
    /* border: none; */
    
}

.t1{
    background-color: #e78057;
}
.table, th, td{
    /* border: 1px solid black; */
    height: 20px;
    border-bottom: 1px solid black;
}
