@font-face {
    font-family: best;
    src: url('../font/best.ttf');
  }
    

*
*{
    font-family: best;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.nav{
    height: 50px;
    width: 100%;
    background-color: #FD4600;
    display: grid;
    grid-template-columns: 50% 50%;
}


.second{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    padding-top: 10px;
    padding-bottom: 50px;
}



.bodaa{
    border-right: 2px grey solid;
    width: 650px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
}


.text{
    font-size: 50px;
    padding-left: 160px;
    color: #FD4600;
    margin: 10px;
    padding-bottom: 0px;
    line-height: 0px;
    -webkit-transition: all 0.1s ease-out;
}

.text:hover{
    color: #0f830b;
    /* font-size: 80px; */
    -webkit-transform: scale(2.0);
}


.text2{
    font-size: 20px;
    padding-left: 150px;
    align-content: center;
    /* padding-left: 180px; */
    color: #447e03;
    font-family: sans-serif;
    margin: 50px;
    padding-bottom: 0px;
    line-height: 0px;
    -webkit-transition: all 0.1s ease-out;
}

.text2:hover{
    font-size: 30px;
    color: #FD4600;
    /* transform: scale(1.5); */
    -webkit-transform: scale(2.0);
}

.btn{
    padding-left: 200px;
    padding-top: 5px;
    margin: 20px;
    text-decoration: none;
}
.side_images{
    height: 250px;
    justify-content: center;
    padding-left: 80px;
}

.side2{
    /* width: 100%; */
    height: 250px;
    justify-content: center;
    padding-left: 150px;
}


.btn button{
    /* padding-top: 20px; */
    /* background-color: #0f830b; */
    background-color: transparent;
    border-radius: 10px;
    line-height: 0px;
    border: 2px solid rgb(255, 54, 4);
    width: 130px;
    height: 40px;
   
}

button:hover{
    background-color: #FD4600;
    color: #080808;
    animation: ;
}

.car{
    width: 100%;
    /* padding-left */
}


.right{
width: 100%;
padding-top:10px ;
text-align:right ;
height: 100%;
display: flext;



}
.logo{
    width: 100%;
text-align:left ;
height: 100%;
padding: 5px;
display: flex;


}
.logo p{
margin-top: 10px;
margin-left: 10px;
color: white;
font-weight: 800;


}
.logo_{
    height:40px;
    width: 40px;
    border-radius: 100px;
    background-color: white;
 
}


.links{
    padding: 7px;
    margin: 13px;
    margin-top: 20px;
    background-color: white;
    border-radius: 7px;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}


.links_white{
    padding: 7px;
    margin: 13px;
    margin-top: 20px;
    background-color:#11e4c1;
    border-radius: 7px;
    text-decoration: none;

    font-size: 10px;
    color: #ffffff;
}


.third{
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    padding-top: 50xp;
    padding-left: 170px;
    /* padding: 20pxpx; */
}


.table{
width: 80%;
overflow: hidden;
text-align: center;
display: table;
font-family: best;
border: 0px;
box-shadow:  0 0 20px rgba(rgb(201, 108, 108), rgb(70, 83, 70), blue, alpha);
padding: 0 0 8em 0;
border: none;
border-collapse: collapse;
height: 60px;
}

 
 .table th, td{
     padding: 10px;
 }


.third h3{
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: sans-serif;
}


.table th{
    height: 10px;
    color: #000000;
    
}

tr:nth-child(even){
    background-color: #afadad;
}

tr:nth-child(odd){
    background-color: #c9c5c5;
}
.t1{
    background-color: #f34404;
}
.table, th, td{
    /* border: 1px solid black; */
    /* height: 20px; */
    /* border-bottom: 1px solid black; */
    
}

tr:hover{
    background-color: #528d06;
}
